header{
  padding: 3em;
  background-color: #aaa;
}
.busqueda{
  padding-top: 2em;
  background-color: #eee;
}
.listaSinVin{
  text-decoration: none;
  list-style: none;
}
dl li dt{
  font-weight: 700;
  font-family: sans-serif;
  font-size: 1em;
}
label input.checkbox{
  font-size: 2em;
}
.ofertas:hover , .price:hover {
  color:#ed991c;
  text-decoration: none;
}
.price{
  color: red;
}
.ofertas{
  color: blue;
}
a:hover{
  color: #000;
  text-decoration: none;
}
a{
  text-decoration: none;
}
footer{
  background-color: #232f3e;
}
footer dl {
  padding-left: 2em;
}
footer a dd{
  color: white;
  font-size: 15px;
  font-weight: 500;

}
footer a dd:hover{
  color:#ed991c;
}
footer dt{
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.info{
  padding-top: 5em;
  padding-bottom: 5em
}
.botonEnorme{
  background-color: #232f3e;
  font-size: 1.5em;
}
footer a.botonzote:hover, .botonEnorme:hover{
  color: white;
}
